:root {
    --black: #1c2225;
    --yellow: #ecd979;
    --white: #fcf9f9;
    --white-opacity-40:#fcf9f91a;
}
:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "DM Sans", sans-serif;
}
body {
    font-family: "Manrope", sans-serif;
    color: var(--white);
    background-color: var(--black);
    margin: 0;
}
* { box-sizing: border-box; }

/* --------------RESET DEFAULTS--------------- */
a {
    text-decoration: none;
}

address {
    font-style: normal;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}
/* ----------------COMMON STYLES---------------- */
.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
button {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid #fcf9f91a;
    border-radius: 15px;
    padding-block: 14px;
    padding-inline: 39px;
}

/* -------------HEADER------------------- */
.page-header {
    padding: 20px 0;
    border-bottom: 1px solid #fcf9f91a;
}
header .container {
    display: flex;
    align-items: center;
}
.logo img {
    width: 44px;
    height: 39px;
    margin-right: 60px;
}
.header-nav a {
    line-height: 1.28;
    text-transform: uppercase;
    color: var(--white);    
    padding: 10.5px 0;
    }
.header-nav li {flex-shrink: 0;}
.header-nav a:hover, .header-nav a:focus {
    color: var(--yellow);
}
.page-nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: var(--white);
    padding: 14px 28px;
    border: 1px solid #fcf9f91a;
    border-radius: 15px;
}
.social-icons {
    border: 1px solid #fcf9f91a;
    border-radius: 15px;
    padding: 8px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background: #fcf9f91a;
}
.contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    margin-left: 229px;
}
.contacts-list li {
    flex-shrink: 0;
}
.contacts-list li:first-child {
    margin-right: 20px;
}
/* --------------Main content---------------- */
section {
    padding-bottom: 150px;
}
/* -----------Hero Section--------- */
.hero-section .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero-section {
    position: relative;    
}
.hero-image {
    margin-top: 100px;
    margin-right: 40px;
    border-radius: 4px;    
}
.hero-content {
    max-width: 518px;
    margin-right: 115px;
}
.hero-title {
    font-weight: 400;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    color: var(--white);
}
.hero-title span {
    color: var(--yellow);
}
.hero-button {
    margin-left: 181px;
    margin-top: 40px;
}
.hero-subtitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #fcf9f966;
    max-width: 115px;
    position: absolute;
    top: 114px;
    left: 1115px;
}


/* -----------Testimonials--------- */
.testimonials {
    padding: 40px 0;
}
/*-----------------Footer-------------------*/
.page-footer {
    padding: 40px 0;
    border-top: 1px solid #fcf9f91a;
}
.footer a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: var(--white);
}
.footer a:hover, .footer a:focus {
    color: var(--yellow);
}
.footer{
    margin-bottom: 117px;
    margin-right: 416px;
}
.footer-text {
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    color: var(--white);
    letter-spacing: -0.03em;
    max-width: 754px;
}
.footer-text span {
    color: var(--yellow);
}